{% extends "base.html" %}

<div class="container bg-body-success">
  {% block body %}
  <div class="container d-flex justify-content-center">
    <h1>Latest Blog Posts</h1>
</div>
<div class="row row-cols-md-4">
{% for i in all2 %}
    <div class="card mx-2" style="width: 16rem">
      <img src="{{post.image.url}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{i.title | truncatechars:50}}</h5>
        <p class="card-text">
          {{i.newcontent | truncatechars:100}}
        </p>
        <a href="blogpost.html" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  
  {% endblock body %}
</div>
