{% extends "base.html" %}

<div class="container">
  {% block body %}
  <div class="container d-flex justify-content-center">
    <h1>Latest Blog Posts</h1>
</div>
<div class="container d-flex">
{% for i in all2 %}
    <div class="card mx-3" style="width: 18rem">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSun9egb8YbzidOX9LQCaRDOZ4REeDAcU23vA&s" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{i.title | truncatechars:50}}</h5>
        <p class="card-text">
          {{i.content | truncatechars:100}}
        </p>
        <a href="blogpost.html" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  
  {% endblock body %}
</div>
